name: Build and Publish
on:
  workflow_dispatch:
    inputs:
      version-increment:
        description: version update
        default: patch
        required: true

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: "14"
          registry-url: "https://registry.npmjs.org"

      - name: Increment Version
        run: npm version ${{ github.event.inputs.version-increment }}

      - name: Build
        run: |
          npm ci
          npm run build

      - name: Publish
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

      - name: Push Version Change
        run: |
          git config user.email "action@github.com"
          git config user.name "Nova Bot"
          git push origin main
